.App {
  padding: 0 24px;
  height: 100vh;
}

.App input {
  border: none;

  border-bottom: 1px solid black;
  padding-bottom: 4px;
  height: 16px;
}

.App.init {
  background: #3f51b5;
}

.App.stop {
  background: #d81b60;
}

.App.go {
  background: #43a047;
}
